:root {
    --dark: #181819;
    --light: #fefffd;
    --accent: #6aff79;
    --accent-dark: #00872f;
    --fg: var(--dark);
    --bg: var(--light);
}


nav {
    width: 100%;
    height: 5rem;
    background-color: var(--fg);
    color: var(--bg);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        width: 100%;
        height: 100%;
        gap: 3ch;
        display: flex;
        justify-content: right;
        align-items: center;

    }

    li {
        border: 1px solid var(--accent);
        display: block;

        &:hover {
            background-color: var(--accent);
        }

        a {
            padding: 1ch 1em;
            display: block;
            text-decoration: none;
            color: inherit;
        }
    }
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, var(--fg) 0%, var(--bg) 100%);
    padding: 20px;
    text-align: center;
    color: var(--bg);
    transition: bottom 0.5s ease-in-out;
    z-index: 1000;

    ul {
        width: 100%;
        height: 100%;
        gap: 3ch;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    #footer_ul_up {
        justify-self: right;
        margin-left: auto;
    }

    footer.visible {
        bottom: 0;
        opacity: 1;
    }
}

#github {
    display: flex;
    gap: 1ch;
    border: 0;
}

.bi.bi-github {
    fill: purple;
    width: 100%;
    height: 100%;
}